<div class="container p-5">
  <div class="row">
    <div class="col-6 mx-auto">
        <h1 class="mb-5">Add your character</h1>
          <%= simple_form_for(@character) do |f| %>
            <%= f.input :name , label: "Name"  %>
            <%= f.input :life , label: "Life capacity of the character"  %>
            <%= f.input :attack , label: "Attack capacity of the character"  %>
            <%= f.input :speed , label: "Speed capacity of the character"  %>
            <%= f.input :photo, as: :file %>

            <br>
            <%= f.submit 'Save Character' , :class => "btn btn-primary"  %>
          <% end %>
    </div>
  </div>
</div>
