<div class="container">
  <h1>available characters</h1>
  <div class="characters">

      <% @characters.each do |character| %>
          <%= link_to character_path(character) do %>
            <div class="character">
              <% if  character.photo.attached? %>
                <%= cl_image_tag character.photo.key, height: 50, width: 50, crop: :fill %>
                <p> <%= character.name %> </p>
                <%= " #{character.life} | #{character.attack} " %>
              <% else %>

                <p> <%= character.name %> </p>
                <%= " #{character.life} | #{character.attack} " %>
              <% end %>
            </div>
          <% end %>

      <% end %>

  </div>

  <div>
     <%= link_to "Add a new character", new_character_path %>
  </div>

  <div>
     <%= link_to "FIGHT!", new_fight_path %>
  </div>
</div>
