
<div class="container">
  <div class="fighters d-flex">
    <%= link_to character_path(@fight.players[0].character) do %>
      <div class="character p-5">
        <% if  @fight.players[0].character.photo.attached? %>
          <%= cl_image_tag @fight.players[0].character.photo.key, height: 50, width: 50, crop: :fill %>
        <% else %>
          <%= image_tag "unkown.jpeg", height: 50, width: 50, crop: :fill %>
        <% end %>
        <p> <%= @fight.players[0].character.name  %> </p>
      </div>
    <% end %>
    <%= link_to character_path(@fight.players[1].character) do %>
      <div class="character p-5">
        <% if  @fight.players[1].character.photo.attached? %>
          <%= cl_image_tag @fight.players[1].character.photo.key, height: 50, width: 50, crop: :fill %>
        <% else %>
          <%= image_tag "unkown.jpeg", height: 50, width: 50, crop: :fill %>
        <% end %>
        <p> <%= @fight.players[1].character.name  %> </p>
      </div>
    <% end %>
  </div>
  <div class="fight-details-container mb-5">
    <h2 class="text-center mb-5">Match Details</h2>
    <% @fight.fight_logs.each do |fight_log| %>
      <p class="fight-details text-center"> <%= fight_log.move_description %> </p>
    <% end %>
  </div>



  <div class="row d-flex justify-content-center">
    <div class="text-center">
      <%= link_to "HOME", root_path, class: 'btn btn-flat mr-5' %>
    </div>
    <div class="text-center">
       <%= link_to "FIGHT AGAIN!", new_fight_path, class: 'btn btn-flat' %>
    </div>
  </div>

</div>
